@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>Search For A GitHub Account!</h2>

    <form action="GitHubAPISearch" method="post">
        <label>GitHub Username: </label>
        <input type="text" name="Username" placeholder="Username..." />
        <input type="submit" value="Search" />
    </form>
</body>